@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em; 
}

.logo {
    width: 400px;
    height: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
    font-size: .9em;
}
nav a{
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5em; 
    
    color: #FFF;
}

/* spruce color:  #105D61 */

.home-hero {
    background-image: url(../img/leaves2.jpeg);
    background-size: cover;
    background-position:  bottom;
    background-repeat: no-repeat; 
    padding: 10em 0;
}

@media (min-width: 60rem) {
    .home-hero{
        height: 100vh;
        padding-top: 30vh;

    }
}

h1 {
    font-weight: 300;
    font-size: 1.9rem;
}

p {
margin-top: 0;
line-height: 1.5;
}

p:last-of-type {
    margin-bottom: 0;
}

.title {
    margin-top: 4em;
    margin-bottom: 1.5em;
    font-size: 2.5rem;
    color: #FFF;
    font-weight: 900;
}

.title span {
    font-weight: 300;
    display: block;
    font-size: .85em;
}

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

[class^=col-] {
    width: 100%;
    margin-top: 1em;
    line-height: 2;
}
[class^=col-]:first-child {
    margin-top: 0;
}

.col-1 {
    width: 33.333333%;
    float: left;
    text-align: center;
}


@media (min-width: 45rem) {
    [class^=col-] {
        float: left;
        padding: 0 .5em;
        margin-top: 0;
    }
    [class^=col-]:first-child {
        padding-left: 0;
    }
    [class^=col-]:last-child {
        padding-right: 0;
    }
    .col-3 {
        width: 50%;
        margin-left: 0;
    }
    .col-1 {
        width: 16.6666%;
        text-align: center;
    }
}

@media (min-width: 60rem) {
    title {
        font-size: 3.7rem;
    }
}

.button {
    font-size: 1.15rem;
    background-color: rgba(250, 250, 250, 0.25);
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 3px;
    border-style: solid;
    padding: .5em 1.75em;
    box-shadow: 0 0 .5em 0 rgba(0,0,0,.7);
}


.button-accent {
    color: #7c023f;
    font-weight: 700;
    /*border-color: #7c023f*/
}
.button-accent:hover,
.button-accent:focus {
  background: #105D61;
  color: #E2D0BC; 
}

.button-dark {
    background: #105D61;
    color: #232323;
    margin-bottom: 1em;
    font-weight: bold;
}

.button-dark:hover,
.button-dark:focus {
  color: #105D61;
  background: #232323; 
}


@media (min-width: 60rem){
    .button {
        font-size: 1.5rem;
    }
}

.button-small {
    font-size: .7rem;
    font-weight: 700;
}
.container {
    width: 95%;
    margin: 0 auto;
    max-width: 80%;
}

nav a:hover,
nav a:focus {
  color: rgb(204, 204, 204);
}

@media (min-width: 60rem) {
    .logo {
        width: 600px;
        height: auto;
        transform: translateX(-22%);
    }
    nav {
    float: left;
    position: relative;
    z-index: 10;    
    }
}

img {
    max-width: 100%;
    height: auto;
}

.clearfix::after,
section::after,
footer::after {
    content: '';
    display: block;
    clear: both;
}

.home-about-textbox {
    background-color: #232323;
    padding: 4em;
    width: 100vw;
    margin-left: -15%;
    outline: 2px solid #7c023f;
    outline-offset: -2.5em;
    position: relative;
    color: #fff;
}

.home-about-textbox h1 {
    color:#7c023f;
    position: absolute;
    margin-top: .2em;
    left: 50%;
    transform: translateX(-50%);
    top: .56em;
    background: #232323;
    padding: 0 .145em;
    font-weight: bold;
}

@media (min-width: 60rem) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.1rem;
    }
    .home-about {
        background-image: url(../img/mug.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 3em;
        padding-bottom: 10em;
        height: 100vh;
    }
    .home-about-textbox {
        width: 50%;
        padding: 7em;
        outline-offset: -3.5em;
        top: -8em;
        text-align: left;
        box-shadow: 0 0 4em 0 rgba(0,0,0,.9);
    }

    .home-about-textbox h1 {
        top: .56em;
        left: 6rem;
        transform: translateX(0);        
    }
}

.portfolio {
    margin: 3em 0 0;
}

.port-item, .port-item3 {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.port-item img, .port-item3 img  {
    display: block;
}
.port-item3 {
    clear: left;
}

.port-desc {
position: absolute;
z-index: 100;
bottom: 2em;
left: 0em;
right: 0em;
color: white;
background: rgba(0,0,0,.75) ; 
padding-bottom: 2em;
}

.port-desc p {
    margin: 1em;
}

@media (min-width: 37rem) {
    .port-item, .port-item3 {
        width: 50%;
        float: left;
        
    }
}

.port-desc {
    transform: translateY(150%);
}

.port-item:hover .port-desc, .port-item3:hover .port-desc {
    transform: translateY(0%)
}

.cta {
    color: #FFF;
    padding: 3em 0;
    background-color: #232323;
    padding-top: 0.1em;
}

.cta .title {
    margin-top: 2em;
    margin-bottom: 1em;
}

footer {
    background: #105D61; 
    color: #fff;
    text-align: left;
    padding: 4em 0;
}

.unstyled-list a {
    text-decoration: none;
    color: #fff;
}

.unstyled-list a:hover {
    color: rgb(165, 164, 164);
    font-weight: bold;
}

.menu-sub {
    position: absolute;
    left: 27%;
    text-align: left;
    background: rgba(15, 15, 15, 0.726);
    width: fit-content;
    display: none;
    padding: 1.5em;
    z-index: 100;
}


nav li:hover .menu-sub {
    display: inline-flex;
}
.menu-category{
    color: white;
    font-weight: bold;
    margin: 2em 0 .5em;
}

.menu-category:first-of-type {
    margin-top:0;
}

.menu-sub li {
    display: block;
} 

.menu-sub a {
    padding: 0;
    margin-bottom: .35em;
}
.menu-sub a:hover {
    text-decoration: underline;
}


.menu-col-1,
.menu-col-2,
.menu-col-3 {
    float: left;
    padding: 2rem;
    
}
.menu-col-1 {
    width: 33%;
}
.menu-col-2 {
    width: 50%;
}
.menu-col-3 {
    width: 50%
}

@media (min-width: 60rem){
    .menu-sub {
        float: left;
        width: fit-content;
        left: auto;
    }
    div[class^=menu-col] {
        padding: 2em;
    }
}
